
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <ul class="mt-4 text-center">
                <li class="mb-2 key_ftd"><a href="">Contact</a></li>
                <li class="mb-2 key_ftd"><a href="">Mentions légales</a></li>
                <li class="mb-2 key_ftd"><a href="">RGPD</a></li>
            </ul>
        </div>
        <div class="col-4">
            <img src="{{ asset('assets/images/healthy.png') }}" class="img-fluid border img-thumbnail mt-4 rounded mx-auto d-block w-25" alt="healthy food text">
        </div>
    </div>
</div>
