
<div class="container">
    <img src="{{ asset('assets/images/healthy.png') }}" class="img-fluid border img-thumbnail mt-4 rounded mx-auto d-block w-50" alt="">
    <ul class="mt-4 text-center">
        <li><a href="">Contact</a></li>
        <li><a href="">Mentions légales</a></li>
        <li><a href="">RGPD</a></li>
    </ul>
</div>
