.form-image img,
.show-image img {
  width: 300px;
}

@media (max-width: 500px) {
  .form-image img {
    width: 200px;
  }
}

@media (max-width: 700px) {
  .show-image img {
    width: 200px;
  }
}

@media (min-width: 700px) {
  .errorImage {
    width: 500px;
  }
}
