{% extends 'base.html.twig' %}

{% block title %}Accueil Administrateur{% endblock %}

{% block main %}
<div class="container mt-4">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid">
        <img src="" alt="" class="w-100">
    </div>
    <div class="jumbotron">
        <h1 class="display-4 text-center">Bienvenue Sandrine Coupart</h1>
        <p class="lead text-center">sur le panel d'administration de votre site.</p>
        <hr class="my-4">
        <p class="text-center">It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary btn-lg mt-4 mb-4" href="{{ path('app_logout') }}" role="button">Déconnexion</a>
        </div>
    </div>
</div>

{% endblock %}